<% include ../partials/header %>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
            <div class="modal-body">
                <div class="container-fluid">
                    Are you sure to DELETE this item?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="/products" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);
        // Use above variables to manipulate the DOM
        
    });
</script>
<table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-responsive">
    <thead class="thead-inverse|thead-default">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
            <th><a name="detail" id="" class="btn btn-primary" href="/products/add/" role="button">Add New Product</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product) { %>
        <tr>
            <td scope="row"><%= product.id %></td>
            <td><%= product.title %></td>
            <td><%= product.price %></td>
            <td colspan="2"><a name="detail" id="" class="btn btn-info" href="/products/detail/<%= product.id %>"
                    role="button">View</a>
                <a name="detail" id="" class="btn btn-primary" href="/products/edit/<%= product.id %>"
                    role="button">Edit</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modelId">
                        Delete
                      </button>
            </td>

        </tr>
        <% }); %>
    </tbody>
</table>
<% include ../partials/footer %>